In [47]:
from io import StringIO
from sklearn import tree
from sklearn.model_selection import train_test_split
import pandas as pd
import pydotplus
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn import preprocessing
from sklearn import utils

In [16]:

dataset = pd.read_csv('Social_Network_Ads.csv')
dataset = pd.get_dummies(dataset, columns=['Gender'])
dataset[['Age', 'EstimatedSalary']] = StandardScaler().fit_transform(dataset[['Age', 'EstimatedSalary']])
dataset.drop("User ID",axis = 1,inplace = True)
dataset

          Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0   -1.781797        -1.490046          0              0            1
1   -0.253587        -1.460681          0              0            1
2   -1.113206        -0.785290          0              1            0
3   -1.017692        -0.374182          0              1            0
4   -1.781797         0.183751          0              0            1
..        ...              ...        ...            ...          ...
395  0.797057        -0.844019          1              1            0
396  1.274623        -1.372587          1              0            1
397  1.179110        -1.460681          1              1            0
398 -0.158074        -1.078938          0              0            1
399  1.083596        -0.990844          1              1            0

[400 rows x 5 columns]

In [29]:
X = dataset.iloc[:, [0, 1, 3, 4]]
y = dataset.iloc[:, 2]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [48]:
classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [45]:
cm = confusion_matrix(y_test, y_pred)
print(accuracy_score(y_pred, y_test))

cm

0.9083333333333333

array([[73,  6],
       [ 5, 36]], dtype=int64)